* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #fff; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

input {
  outline: none;
  border: none; }

img {
  width: 100%;
  height: 100%; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer; }

.container {
  max-width: 1280px;
  margin: 0 auto; }
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px; } }
  @media (min-width: 768px) and (max-width: 1279px) {
    .container {
      max-width: 767px; } }
  @media (max-width: 767px) {
    .container {
      width: 100%; } }

.burger {
  position: relative; }
  @media (min-width: 1280px) {
    .burger {
      display: none; } }
  @media (min-width: 768px) and (max-width: 1279px) {
    .burger {
      margin-bottom: 60px; } }
  @media (max-width: 767px) {
    .burger {
      margin-bottom: 40px; } }
  .burger__span {
    display: block;
    width: 12px;
    height: 2px;
    margin: 5px 0;
    background: #fff; }
    .burger__span::before, .burger__span::after {
      content: '';
      background: #fff;
      width: 12px;
      height: 2px;
      display: block;
      position: absolute; }
    .burger__span::before {
      top: 0;
      left: 0; }
    .burger__span::after {
      bottom: 0; }

.logo {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  flex: 1 1 auto; }
  .logo span {
    color: #000; }

.header {
  background: #99ccff; }
  @media (min-width: 768px) and (max-width: 1279px) {
    .header {
      padding: 30px 0 25px; } }
  @media (max-width: 767px) {
    .header {
      padding: 15px 0 20px; } }
  .header__wrap {
    display: flex;
    align-items: center;
    flex-direction: column; }
    @media (min-width: 1280px) {
      .header__wrap {
        flex-direction: initial;
        margin: 0 60px 0 35px; } }

.menu {
  display: none;
  align-items: center; }
  @media (min-width: 1280px) {
    .menu {
      display: flex; } }
  .menu__item {
    background: transparent;
    transition: background 0.3s linear; }
    .menu__item:hover {
      background: rgba(22, 43, 77, 0.5); }
  .menu__link {
    display: block;
    padding: 25px;
    color: #fff;
    font-weight: 400; }

.space {
  margin-top: 20px; }

.intro {
  padding: 185px 0 115px;
  background: url("../img/section1.jpg") no-repeat center center;
  background-size: cover;
  color: #fff; }
  @media (min-width: 768px) and (max-width: 1279px) {
    .intro {
      padding: 100px 0 170px; } }
  @media (max-width: 767px) {
    .intro {
      padding: 60px 0 50px; } }
  .intro__wrap {
    margin: 0 20px; }
    @media (min-width: 768px) and (max-width: 1279px) {
      .intro__wrap {
        margin: 0 30px; } }
  .intro__title {
    font-size: 40px;
    font-weight: 300; }
  .intro__description {
    margin-top: 10px; }
    @media (min-width: 768px) and (max-width: 1279px) {
      .intro__description {
        font-size: 14px; } }
    @media (max-width: 767px) {
      .intro__description {
        font-size: 12px; } }

.info {
  padding: 15px 0 35px; }
  .info__wrap {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .info__wrap {
        flex-direction: column;
        margin: 0 15px; } }

.post-block {
  margin-right: 15px;
  flex-basis: 65%; }
  @media (max-width: 767px) {
    .post-block {
      margin-right: 0;
      margin-bottom: 10px; } }
  .post-block__item {
    display: flex;
    flex-direction: column;
    cursor: pointer; }
    @media (min-width: 1280px) {
      .post-block__item {
        flex-direction: initial; } }
    .post-block__item:hover .post-block__info {
      opacity: 0.5; }
    @media (min-width: 1280px) {
      .post-block__item:nth-child(even) {
        flex-direction: row-reverse; }
        .post-block__item:nth-child(even) .post-block__info {
          flex-direction: row-reverse; }
        .post-block__item:nth-child(even) .post-block__text {
          text-align: right;
          margin-right: 0;
          margin-left: 30px; } }
  .post-block__img {
    flex-basis: 50%; }
  .post-block__info {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    transition: 0.3s linear; }
    @media (max-width: 767px) {
      .post-block__info {
        padding: 20px; } }
    @media (min-width: 768px) and (max-width: 1279px) {
      .post-block__info {
        padding: 30px 25px; } }
    @media (min-width: 1280px) {
      .post-block__info {
        padding: 15px 10px 20px;
        flex-direction: initial; } }
  @media (min-width: 1280px) {
    .post-block__text {
      margin-right: 30px; } }
  .post-block .description {
    margin-top: 10px;
    line-height: 25px; }

.news-block {
  flex-basis: 35%; }
  .news-block__item {
    border: 1px solid #506079;
    margin-bottom: 15px; }
    .news-block__item:last-child {
      margin-bottom: 0; }
  .news-block__info {
    padding: 30px 25px; }
  .news-block .description {
    margin: 25px 0 20px; }
  .news-block__button {
    display: inline-block;
    padding: 8px 6px;
    text-transform: uppercase;
    border: 1px solid #000;
    font-weight: 500;
    color: #000;
    transition: 0.3s linear; }
    .news-block__button:hover {
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      border-bottom: 1px solid #000; }

.title {
  font-weight: 300;
  font-size: 40px; }
  @media (max-width: 767px) {
    .title {
      font-size: 30px; } }

.description {
  transition: 0.3s linear; }

.date {
  text-align: center;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 10px; }
  @media (min-width: 1280px) {
    .date {
      display: block;
      margin-top: 0; } }
  .date__day {
    font-size: 40px;
    font-weight: 200; }
  .date__month {
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px; }
    @media (min-width: 1280px) {
      .date__month {
        margin-left: 0; } }

.post-1 {
  background: #F3D250; }

.post-2 {
  background: #8D8741; }

.post-3 {
  background: #659DBD; }

.post-4 {
  background: #DAAD86; }

.footer {
  background: #162b4d;
  padding: 25px 0 20px; }
  @media (min-width: 768px) and (max-width: 1279px) {
    .footer {
      padding: 50px 0 20px; } }
  @media (max-width: 767px) {
    .footer {
      padding: 20px 0 15px; } }
  .footer__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    @media (min-width: 1280px) {
      .footer__wrap {
        flex-direction: initial;
        text-align: left; } }
  .footer__text {
    font-size: 10px;
    color: #B7B7B7; }
    .footer__text:first-child {
      margin-bottom: 10px; }

.copyright {
  flex: 1 1 auto; }

@media (min-width: 768px) and (max-width: 1279px) {
  .creator {
    margin-top: 20px; } }
@media (max-width: 767px) {
  .creator {
    margin-top: 10px; } }
