@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

html,body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    position: relative;
}
ul {
    margin: 0;
    list-style: none;
}
li {
    vertical-align: middle;
}
p {
    margin: 0;
}
hr {
    background: #000;
    margin: 0;
}
button {
    outline: none;
    border: none;
    font-family: 'Roboto Mono', monospace;
    background: #fff;
    text-align: left;
    cursor: pointer;
    padding: 10px;
}
#root {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.folder-block {
    display: inline-block;
    width: 40%;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.27);
    padding: 20px;
}

.folder {
    color: #F8CD5F;
}
.file {
    color: grey;
}
.folder-block__item {
    margin: 15px 0;
}
.folder-block__content {
    display: flex;
    align-items: center;
    transition: 0.3s linear;
    width: 100%;
    cursor: pointer;
}
.folder-block__content:hover {
    background: rgba(125,184,250, 0.2);
}
.folder-block__children {
    display: none;
}
.open {
    display: block;
}
.context-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.27);
    background: #fff;
}