@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}
form > div {
    margin-bottom: 20px;
}
label {
    min-width: 60px;
    display: inline-block;
}
button {
    outline: none;
    border: 2px solid #000;
    color: #000;
    background: #fff;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s linear;
}
button:hover {
    background: #000;
    color: #fff;
}

.main-block {
    display: flex;
    margin: 0 100px;
    padding-top: 100px;
}
.book-list {
    flex-basis: 50%;
    margin-right: 50px;
}
.book-list__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.dynamic-block {
    flex-basis: 50%;
}
.preview-block {
    display: flex;
    box-shadow: 0 0 14px 5px rgba(0,0,0,0.37);
}
.preview-block__content {
    margin-left: 20px;
}
.preview-block__img img {
    margin-top: 10px;
}

