body {
  padding: 0;
  margin: 0 0 5vh;
}
.header {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 60%;
}
.table {
  width: 100%;
}
tbody {
  display: grid;
  grid-gap: 1em;
}
tbody .table__wrapper{
  display: grid;
  grid-gap: 1em;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(7, 1fr);
}
.table__name-block {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 50px;
}
.table__name {
  display: grid;
  justify-content: center;
  align-content: end;
}
.table__item {
  display: grid;
  justify-content: center;
  align-content: center;
  border: 1px solid #EAEAEA;
}
.table__wrapper > .table__item {
  background: #EAEAEA;
}
.table__wrapper > .table_light {
  background: #fff;
}