* {
  box-sizing: border-box; }

body {
  margin: 0;
  background: #fefaf3; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #0b013c;
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

p {
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #808080; }

h1 {
  font-size: 80px;
  color: #fff; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 30px;
  text-transform: uppercase; }

h4 {
  font-size: 20px;
  font-weight: 400; }

input {
  outline: none;
  border: none; }

img {
  width: 100%;
  height: auto; }

figure {
  margin: 0; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.dark {
  color: #0b013c; }

.light {
  color: #fff; }

.logo a {
  font-size: 23px;
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  border: 2px solid #fff;
  transition: 0.3s linear; }
  .logo a:hover {
    background: #fff;
    color: #0b013c; }

.header {
  height: 100vh;
  color: #fff;
  background: #0b013c; }
  .header__wrap {
    background: url("../img/header-bg.png") no-repeat center center;
    background-size: cover;
    height: 100vh; }
  .header__logo {
    padding-top: 35px; }
  .header__content {
    margin-top: 170px; }
  .header__title {
    text-transform: uppercase; }
  .header__subtitle {
    color: #fff;
    margin: 50px 0 35px; }
  .header__description {
    width: 35%; }
  .header__form {
    margin-top: 45px;
    height: 53px;
    display: flex;
    align-items: center; }
    .header__form * {
      height: 100%; }
  .header__input {
    margin-right: 10px; }

.input {
  width: 30%;
  padding: 0 10px;
  border: 1px solid #ADADAF; }

.button {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 0 20px;
  cursor: pointer;
  background: #f8cb8a;
  transition: 0.3s linear; }
  .button:hover {
    background: #f6bb66; }

.content {
  text-align: center; }
  .content .underline {
    margin: 45px auto 35px; }

.title {
  text-transform: uppercase; }

.subtitle {
  margin-bottom: 35px; }

.description_space {
  width: 70%;
  margin: 0 auto; }

.about {
  padding: 115px 0 65px; }
  .about__content .underline {
    margin: 45px auto 35px; }
  .about__article {
    margin: 180px 0 130px; }

.underline {
  width: 115px;
  height: 10px;
  background: #f8cb8a;
  margin: 45px 0 35px; }

.article-main {
  display: flex; }
  .article-main__img {
    width: 50vw; }
  .article-main__content {
    text-align: left;
    padding: 50px;
    background: #fff; }
    .article-main__content .underline {
      margin: 45px 0 35px; }
    .article-main__content .title {
      width: 50%; }

.article-examples {
  display: flex;
  justify-content: space-between; }
  .article-examples__content {
    display: flex;
    flex-direction: column; }
    .article-examples__content:first-child {
      margin-right: 55px; }
  .article-examples__description {
    background: #fff;
    padding: 40px 55px 45px 25px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    text-align: left; }

.education {
  background-image: url("../img/space-bg.png"), url("../img/space-bg.png");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-color: #0b013c;
  padding: 150px 0; }
  .education__title {
    width: 60%;
    margin: 0 auto; }

.footer {
  background: url("../img/footer-img.png") 80% 50% no-repeat, url("../img/footer-bg.jpeg") center center no-repeat;
  background-size: auto, cover;
  padding: 215px 0; }
  .footer__address {
    margin-top: 35px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }
    .footer__address a {
      text-decoration: none;
      color: #fff;
      margin-bottom: 15px;
      display: inline-block; }
      .footer__address a:last-child {
        margin-bottom: 0; }
