* {
  box-sizing: border-box;
}

body,html {
  height: 100%;
}
body {
  margin: 0;
  font-family: "BOO";
  padding: 0;
  background: linear-gradient(41deg, rgba(250,105,255,1) 0%, rgba(11,220,228,1) 100%);
}
button {
  font-family: "BOO";
}