.btn {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 20px 25px;
  background: #000;
  color: #fff;
  transition: 0.3s linear;
  &_new {
    &:hover {
      background: #5cdb95;
      color: #fff;
    }
  }
  &_reset {
    &:hover {
      background: #fc4445;
      color: #fff;
    }
  }
}