.grid {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;

  &__item {
    width: 100px;
    height: 100px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    outline: none;

    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      border-top: none;
    }
    &:last-child,
    &:nth-child(8),
    &:nth-child(7), {
      border-bottom: none;
    }
    &:nth-child(3n + 1) {
      border-left: none;
    }
    &:nth-child(3n + 3) {
      border-right: none;
    }
  }
}