.app {
  font-family: 'Black Ops One';
  height: 100%;
  background: linear-gradient(41deg, rgba(112,202,138,1) 0%, rgba(36,198,109,1) 23%, rgba(251,248,66,1) 100%);

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
  }

  &__rules {
    margin-top: 50px;
  }

  &__title {
    margin: 50px 0;
  }
}