.btn {
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid #000;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s linear;
  margin: 0 10px;

  &:hover:enabled {
    background: #000;
    color: #fff;
  }

  &_active {
    background: #000;
    color: #fff;
  }
}