.rules {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__item {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  &__item_space {
    margin-top: 10px;
  }

  &__text {
    min-width: 50px;
    text-align: center;
    margin: 0 20px;
  }
}