* {
    box-sizing: border-box;
}
html,body {
    height: 100%;
}
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    background: linear-gradient(41deg, rgb(255 239 44) 0%, rgba(255,37,60,1) 100%);
}
p {
    margin: 0;
}
a {
    text-decoration: none;
}
button {
    background: #000;
}
.app {
    height: 100%;
}
.welcome {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.btn-block {
    display: flex;
    justify-content: flex-end;
    height: 70px;
}
.btn {
    font-family: 'Roboto Mono', monospace;
    border: 5px solid #000;
    color: #fff;
    outline: none;
    padding: 20px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s linear;
}
.btn:hover {
    background: transparent;
}
.btn_start {
    font-size: 150px;
}
.main {
    margin: 50px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
}
.main__question {
    text-align: center;
    color: #fff;
    font-size: 30px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.questions {
    display: flex;
    justify-content: space-between;
}
.questions__item {
    color: #fff;
    font-size: 20px;
    border: 5px solid #000;
    padding: 50px 20px;
    flex-basis: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    cursor: pointer;
    outline: none;
    transition: 0.3s linear;
}
.questions__item:hover {
    background: transparent;
    color: #fff;
}
.questions__item:last-child {
    margin-right: 0;
}
.main__number {
    background: #000;
    padding: 0 10px;
    color: #fff;
}
.result {
    height: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 60px;
    color: #fff;
    text-align: center;
}