@mixin button ($bgColor){
    width: 140px;
    height: 48px;
    background: $bgColor;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.4s linear;
    &:hover {
      background: #fff;
      color: $bgColor;  
    }
}
@mixin loginLink {
    color: #fff;
}
@mixin moreLink {
    color: #C0C3C4;
    text-align: center;
    display: block;
}
@mixin highlight ($background){
    content: '';
    display: block;
    position: absolute;
    background: $background;
    z-index: -1;
}
$fonts: (
    sans: ('Source Sans Pro', sans-serif),
    hind: ('Hind', sans-serif),
    fresca: ('Fresca', sans-serif)
);
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: $contentBackground;
    font-family: map-get($map: $fonts, $key: sans);
    color: $mainColor;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
.header {
    height: 100vh;
    background: $backgroundImg;
    background-size: cover;
    border-radius: 0% 0% 40% 0%;
    color: $headerColor;

    &-wrap {
        width: 80%;
        margin: 0 auto;
        div:last-child {
            margin-top: 65px;
            display: flex;
            align-items: center;
        }
    }

    &_heading {
        margin-top: 80px;
        font-size: 50px;
        font-weight: bold;
        width: 45%;
        line-height: 50px;
        position: relative;
        z-index: 5;
        &::before {
            width: 210px;
            height: 50px;
            bottom: 0;
            left: 0;
            @include highlight($textColorBg);
        }
    }
    &_text {
        margin-top: 75px;
        font-family: map-get($map: $fonts, $key: fresca);
        width: 50%;
    }
    &_button {
        @include button ($buttonBg);
    }
}
.landing-logo {
    padding-top: 20px;
    display: flex;
    align-items: center;
    p {
        margin-left: 15px;
        text-align: center;
        font-weight: bold;
        font-family: $logoFont;
        span {
            display: block;
            font-size: 7px;
        }
    }
}
.login {
    margin-left: 150px;
    @include loginLink;
}
.section {
    &_text {
        margin: 50px 0;
        text-align: center;
        font-size: 40px;
        color: $sectionHeading;
        font-weight: 600;
        position: relative;
        &::before {
            height: 50px;
            width: 190px;
            left: 50%;
            @include highlight($textColorBg);
        }
    }
    &_card_wrap {
        width: 70%;
        margin: 0 auto;
    }

    &_card {
        color: #fff;
        background: $mainBg;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;
        border-radius: 3px;
        margin-bottom: 25px;
    }

    &_card_heading {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    &_card_img {
        border-radius: 3px;
        width: 100%;
        height: auto;
    }
    &_card_text {
        margin: 50px  0 30px;
        color: $mainText;
        line-height: 25px;
        font-family: $cardTextFont;
    }

    &_card_right_container {
        margin: 0 50px;
    }
    &_link {
        @include moreLink;
    }

    &_banner {
        padding: 30px 160px;
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 75%;
        margin: 140px auto 0;
        background: $gradient;
    }
    &_banner_text_wrap {
        margin-right: 50px;
    }
    &_banner_heading {
        font-size: 16px;
        font-weight: bold;
        position: relative;
        &::before {
            height: 25px;
            width: 33px;
            top: 0;
            left: 30%;
            @include highlight($textColorBg);
        }
    }
    &_banner_text {
        margin-top: 20px;
        font-size: 13px;
        color: $mainText;
    }
    &_banner_button {
        @include button ($buttonBg);
    }
}
.footer {
    background: $mainBg;
    position: relative;
    z-index: 0;
    color: $mainText;
    &-wrap {
        width: 80%;
        margin: -75px auto 0;
        padding: 140px 0 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_text {
        width: 35%;
    }
}
