$backgroundImg: url('../img/m-h-day.jpg') center center no-repeat;
$contentBackground: #fff;
$logoFont: 'Hind', sans-serif;
$mainColor: #2C2F3C;
$headerColor: #2C2F3C;
$buttonBg: #699900;
$textColorBg: #14A0C7;
$sectionHeading: #2C2F3C;
$mainBg: #21232E;
$mainText: #A3A5B0;
$cardTextFont: 'Source Sans Pro', sans-serif;
$gradient: linear-gradient(45deg, #679708, #2B59DD);