$backgroundImg: url('../img/m-h-night.jpg') center center no-repeat;
$contentBackground: #21232E;
$logoFont: 'Fresca', sans-serif;
$mainColor: #fff;
$headerColor: #fff;
$buttonBg: #E3AC00;
$textColorBg: #FF4E33;
$sectionHeading: #fff;
$mainBg: #3B3F50;
$mainText: #BEBFBC;
$cardTextFont: 'Fresca', sans-serif; 
$gradient: linear-gradient(45deg, #E3AB01, #922B54);