﻿* {
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  font-size: 50px;
  font-weight: bold;
}
h2 {
  font-size: 33px;
  color: #303030;
  font-weight: bold;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 25px;
}
a {
  color: #fff;
}
a:hover {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 20px;
  border-bottom: 3px solid #fff;
  color: #fff;
}
.header {
  background: url("../img/header-bg.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
}
.header__menu {
  background: linear-gradient(41deg, rgba(46,51,117,1) 0%, rgba(59,43,91,1) 100%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.header__logo {
  font-size: 30px;
  font-weight: bold;
}
.header__wrap {
  color: #fff;
}
.nav-item {
  margin-right: 60px;
}
.nav-item:last-child {
  margin-right: 0;
}
.header__content {
  height: 100%;
}
.header__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.examples__container {
  padding: 55px 0 70px;
}
.subtitle {
  font-size: 20px;
  color: #787878;
  display: inline-block;
  position: relative;
}
.subtitle_light {
  color: #fff;
}
.subtitle::before {
  content: '';
  width: 80%;
  display: block;
  height: 4px;
  background: #4A4A4A;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
}
.examples__content {
  padding-top: 75px;
}
.examples__img {
  width: 150px;
  height: 150px;
}
.card-title {
  color: #787878;
}
.card-text {
  margin-top: 40px;
  text-align: left;
}
.examples__btn {
  margin: 90px auto 0;
  outline: none;
  border: none;
  background: url("../img/touch-bg.png") center center no-repeat;
  background-size: cover;
  width: 265px;
  height: 55px;
  color: #fff;
  cursor: pointer;
}
.works {
  background: #EBEBEB;
}
.works__container {
  padding:  75px 0 70px;
}
.works__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding-top: 50px;
}
.works__content > img:nth-child(3) {
  grid-column: 3;
  grid-row: 1/3;
}
.works__content > img:nth-child(6) {
  grid-row: 2/4;
  grid-column: 2;
}
.references {
  padding: 75px 0 110px;
}
.references__wrap {
  padding-top: 55px;
  position: relative;
}
.references__wrap::before, .references__wrap::after {
  cursor: pointer;
  content: '';
  display: block;
  background-size: cover;
  width: 28px;
  height: 67px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.references__wrap::before {
  background: url("../img/slider-prev-arrow.png") center center no-repeat;
  left: -90px;
}
.references__wrap::after {
  background: url("../img/slider-next-arrow.png") center center no-repeat;
  right: -90px;
}
.references__img {
  position: relative;
}
.references__img-bg {
  position: absolute;
  width: 50%;
  left: -20px;
  bottom: -20px;
  z-index: -1;
}
.references__name {
  font-size: 23px;
  font-weight: bold;
}
.references__description {
  opacity: 0.6;
}
.references__controllers {
  padding-top: 55px;
}
.references__buttons {
  display: block;
  width: 17px;
  height: 17px;
  background: #C0B4C5;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.references__buttons::before, .references__buttons::after {
  position: absolute;
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  background: #62436F;
  border-radius: 50%;
  cursor: pointer;
}
.references__buttons::before {
  left: -22px;
}
.references__buttons::after {
  right: -22px;
}
.contact {
  background: #000;
  padding: 135px 0 90px;
}
.form__inputs {
  margin-top: 30px;
}
.form__button {
  margin: 40px auto 0;
  border: none;
  outline: none;
  color: #fff;
  padding: 20px 60px;
  cursor: pointer;
}
.footer {
  background: url("../img/footer-bg.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 55px 0 70px;
}
.footer__rights {
  opacity: 0.6;
  font-size: 9px;
}