* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  display: flex;
  color: #666666;
  background-color: #f4f4f4;
}
h1,h2,h3,h4,h5,h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 4rem;
  color: #fff;
}
p {
  margin-top: 0;
}
p, q { line-height: 1.8; }
h2 { font-size: 1.8rem; }
section {
  min-height: 400px;
}
input,select,textarea {
  color: #666;
}
textarea {
  resize: vertical;
  height: 205px;
}
select {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-size: 1.2rem;
}
address {
  font-style: normal;
}
.container {
  margin: 30px auto 0 auto;
  padding: 0 15px;
  flex-basis: 80%;
}
.section-block {
  display: flex;
  background: #fff;
  position: relative;
}
.section-block_reversed {
  flex-direction: row-reverse;
}
.header__color-primary {
  color: #76CDD8;
}
.section-block::before {
  content: '';
  opacity: 0;
  width: 0;
  height: 0;
  right: 0;
  top: -1px;
  position: absolute;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #76CDD8;
  transform-origin: top;
  transform: translate(50%, 0px) rotate(45deg);
  transition: opacity 0.3s linear;
}
.section-block:nth-child(2)::before {
  left: 0;
  transform: translateX(-50%) rotate(-45deg);
}
.section-block:hover::before{
  opacity: 1;
}
.section-block:hover .section-block__quote {
  color: #76CDD8;
}
.header__color-primary + p {
  transition: color 0.3s linear;
}
.section-block:hover .header__color-primary + p {
  color: #76CDD8;
}
.section-block__content {
  min-height: 400px;
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.section-block__wrap {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.section-block_primary {
  background: #76CDD8
}
.section-block__quote {
  font-size: 1.35rem;
  font-style: italic;
  display: block;
  transition: 0.2s linear;
}
.section-block__img {
  flex: 0 0 50%;
}
.section-block__description {
  font-weight: 300;
  color: #fff;
  font-size: 80%;
}
.section__mb-30 {
  margin-bottom: 30px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.section-info {
  display: flex;
  background: #fff;
  justify-content: space-between;
}
.section-info__content-wrapper {
  padding: 0 15px;
  flex: 0 0 65%;
}
.section-info__content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.section-info__img {
  padding-left: 15px;
}
.section-price {
  display: flex;
  justify-content: space-between;
  background: #fff;
}
.section-price__table {
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid #019999;
  width: 100%;
  max-width: 340px;
}
.section-price__items {
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 -10px;
  flex: 100%;
}
.section-price__block {
  padding: 0 10px;
}
.section-price__main {
  background: #019999;
  padding: 20px;
  color: #fff;
  text-align: center;
}
.section-price__title {
  font-size: 1.6rem;
  font-weight: 100;
}
.section-price__subtitle {
  font-weight: 100;
}
.section-price__list {
  list-style: none;
  margin: 0;
  line-height: 2.4;
  padding: 35px 50px;
}
.section-price__body {
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
}
.section-price__discount {
  display: none;
  margin-bottom: 0;
}
.section-price__star {
  color: red;
}
.section-price__table:last-child:hover .section-price__discount{
  display: block;
}
.section-price__table:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
.section-price__table:hover .btn {
  background-color: #24d4d4;
  border-color:  #019999;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0;
  text-transform: uppercase;
  padding: 12px 47px;
  font-size: 1.15rem;
  background-color: #019999;
  border-color: transparent;
  outline: none;
  transition: 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.btn:hover {
  background-color: rgb(118, 205, 216);
}
.btn_right {
  align-self: flex-end;
}
.btn_center {
  align-self: center;
}
.form-section__form-block {
  position: relative;
}
.form-section__header {
  background: #23D4D4;
  padding: 40px 40px 90px;
}
.section-container {
  margin: 0 auto;
  max-width: 880px;
}
.form-section__title {
  color: #fff;
}
.form {
  padding: 68px;
  background: white;
  margin-top: -50px;
  z-index: 1;
}
.form__wrap {
  padding: 0 15px;
  flex-basis: 50%;
}
.form__wrapper {
  display: flex;
  justify-content: space-between;
}
.form__group {
  margin-bottom: 1rem;
}
.form__control {
  font-size: 1.2rem;
  padding: 12px 20px;
  width: 100%;
}
.form__btn {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.form-section__form-block {
  padding: 0 3rem;
}
.img-fluid {
  width: 100%;
  height: 100%;
  transition: 0.1s linear;
}
.img-fluid:hover {
  transform: scale(1.1);
}
.rounded-circle {
  height: 300px;
  width: 300px;
  background-image: url("../img/image-04.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
}
.footer {
  z-index: 0;
  margin-top: -56px;
  background: #019999;
  padding-top: 100px;
  padding-bottom: 30px;
}
.footer__wrap {
  display: flex;
}
.footer__info {
  flex-basis: 50%;
}
.footer__content {
  max-width: 260px;
  margin: 0 auto;
  color: #fff;
  font-weight: 100;
}
.footer__title {
  margin-top: 0;
}
.copyright__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright__text {
  margin-bottom: 0;
  padding: 20px;
  font-size: 1rem;
}