.tm-card {
    position: relative;
}
.tm-card::before {
    content: '';
    opacity: 0;
    width: 0;
    height: 0;
    right: 0;
    top: -1px;
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #76CDD8;
    transform-origin: top;
    transform: translate(50%, 0px) rotate(45deg);
    transition: opacity 0.3s linear;
}
.tm-card:nth-child(2)::before {
    left: 0;
    transform: translateX(-50%) rotate(-45deg);
}
.tm-text-color-primary {
    color: #76CDD8;
}
.tm-col-md-reverse {
    flex-direction: row-reverse;
}
.tm-quote {
    transition: color 0.3s linear;
}
.tm-card:hover::before {
    opacity: 1;
}
.tm-card:hover .tm-quote {
    color: #76CDD8; 
}
.tm-text-color-primary + p {
    transition: color 0.3s linear;
}
.tm-card:hover .tm-text-color-primary + p {
    color: #76CDD8; 
}

.img-fluid {
    transition: all .2s ease-in-out;
}

.img-fluid:hover {
    transform: scale(1.1);
}
.tm-mb-30 {
    margin-bottom: 30px;
}
.tm-bg-color-primary {
    background: #76CDD8;
}
.tm-bg-color-secondary {
    background: #019999;
}
.tm-pricing-table {
    border: 1px solid #019999;
}
.tm-form-header {
    background: #23D4D4;
}
.btn {
    background-color: #019999;
    border-color:  transparent;
    outline: none;
    transition: 0.3s ease;
}
.btn:hover {
    background-color: rgb(118, 205, 216);
    border-color:  transparent;
}
.tm-pricing-table {
    cursor: pointer;
    transition: 0.3s ease;
}
.tm-pricing-table:last-child:hover .tm-pricing-discount{
    display: block;
}
.tm-pricing-table:hover {
    box-shadow: 0 0 0 0.2rem #24d4d4;
}
.tm-pricing-table:hover .btn.btn-secondary {
    background-color: #24d4d4;
    border-color:  #019999;
}
.tm-pricing-discount {
    margin-bottom: 0;
}
.tm-pricing-discount__star {
    color: red;
}
.tm-pricing-discount__text {
    color: #76CDD8;
}
.tm-contact-form {
    z-index: 1;
    margin-top: -56px;
}
.form-control:focus, .form-group > select:focus {
    outline: none;
    border-color: #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4; 
}
.tm-form-footer {
    z-index: 0;
    margin-top: -56px;
}