/* START: Task 1 Styles */
.cell-block__row {
}
td {
    padding: 50px;
    text-align: center;
    border: 1px solid #000;
    width: 30%;
    cursor: pointer;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
.phone-validation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 100px auto;
    color: #fff;
}
.phone-validation__result {
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border: 5px solid #000;
    justify-content: center;
    width: 100%;
    visibility: hidden;
}
.phone-validation__result_opened {
    visibility: visible;
}
.phone-validation__form {
    height: 50px;
    display: flex;
}
.phone-validation__input {
    min-width: 300px;
    padding: 0 10px;
}
.phone-validation__input_invalid:focus {
    outline: 1px solid red;
}
.phone-validation__input_valid:focus {
    outline: 1px solid green;
}
.phone-validation__button {
    margin-left: 15px;
    padding: 0 20px;
    outline: none;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */
.basketball {
    width: 600px;
}
.basketball-court {
    width: 600px;
    height: 300px;
    background: url("assets/court.png") center center no-repeat;
    background-size: cover;
    cursor: pointer;
    position: relative;
}
.basketball-court__ball {
    cursor: pointer;
    height: 40px;
    width: 40px;
    background: url("assets/ball.png") center center no-repeat;
    background-size: cover;
    position: absolute;
    transform: translate(-50%,-50%);
    transition: all 0.4s linear;
    pointer-events: none;
}
.basketball__score {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.basketball__event {
    text-align: center;
    visibility: hidden;
    transition: visibility 0.3s linear;
    height: 50px;
}
/* END: Task 3 Styles */
